<div id="fondo">
    <div>
        <app-cabecera></app-cabecera>
    </div>
    <div class="d-flex espacio-trabajo" id="wrapper">
        <div>
            <app-sidebar></app-sidebar>
        </div>
        <section id="page-content-wrapper">
            <div class="container espacio-principal">
                <div class="titulo">
                    <div>Registrar Organización</div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <form id="sec">
                            <div class="mb-2 casilla">
                                <label class="form-label">Campo 1</label>
                                <div class="casilla" type="button">
                                    <input name="nombre" type="text" class="form-control"
                                        aria-label="Text input with checkbox">
                                </div>
                            </div>
                            <div class="mb-2 casilla">
                                <label class="form-label">Campo 2</label>
                                <div class="casilla" type="button">
                                    <input name="nombre" type="text" class="form-control"
                                        aria-label="Text input with checkbox">
                                </div>
                            </div>
                            <div class="mb-2 casilla">
                                <label class="form-label">Campo 3</label>
                                <div class="casilla" type="button">
                                    <input name="nombre" type="text" class="form-control"
                                        aria-label="Text input with checkbox">
                                </div>
                            </div>
                            <div class="mb-2 casilla">
                                <label class="form-label">Campo 4</label>
                                <select
                                    name="idtipodocumento" class="form-select" aria-label="Default select example">
                                    <option></option>
                                    <option>
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-5">

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6">
                        <button class="btn btn-info boton">Enviar</button>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
</div>

