<div id="fondo">
    <div>
        <app-cabecera></app-cabecera>
    </div>
    <div class="d-flex espacio-trabajo" id="wrapper">
        <div>
            <app-sidebar></app-sidebar>
        </div>
        <section id="page-content-wrapper">
            <div class="container espacio-principal">
                <div class="titulo">
                    <div>Formatos Para Iniciar Las Practicas Pre Profesionales</div>
                </div>

                <div class="list-h">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Documentos</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Opciones</th>
                                <th scope="col">Comentario</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Carta de aceptación</td>
                                <td>
                                    <a id="info" (click)="mostrarInfo(1)">
                                        <span class="material-icons-outlined">
                                            visibility
                                        </span>
                                    </a>
                                </td>
                                <td></td>
                                <td style="width: 200px;">
                                    <div class="casilla" type="button" style="width: 100%;">
                                    <input name="nombre" type="text" class="form-control"
                                        aria-label="Text input with checkbox">
                                    </div>
                                </td>
                                <td>
                                    <span class="material-icons-outlined">
                                        done_all
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Plan de prácticas</td>
                                <td>
                                    <a id="info" (click)="mostrarInfo(2)">
                                        <span class="material-icons-outlined">
                                            visibility
                                        </span>
                                    </a>
                                </td>
                                <td></td>
                                <td style="width: 200px;">
                                    <div class="casilla" type="button" style="width: 100%;">
                                    <input name="nombre" type="text" class="form-control"
                                        aria-label="Text input with checkbox">
                                    </div>
                                </td>
                                <td>
                                    <span class="material-icons-outlined">
                                        done_all
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="margin: 0px;">
                <div class="col-10">

                </div>
                <div class="col-2">
                    <button class="btn btn-info boton">Enviar</button>
                </div>
            </div>
        </section>
        
    </div>
</div>