@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


a{
    text-decoration: none;
    color: white;
}

#fondo{
    padding-top: 65px;
    background-color: rgb(255, 255, 255);
}

.espacio-trabajo{
    margin-top: 50px;
}