<app-cabecera (status)="cambiarStatus($event)"></app-cabecera>
<div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/practicante/formatos']">Formatos</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/admin/organizacion']">Registrar organización</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/admin/asignartutor']">Asignar tutor</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/admin/vistasolicitudes']">Solicitudes</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" style="margin-top: 150px;">Cerrar Sesión</a>
    </div>
</div>