<div id="fondo">
    <div>
        <app-cabecera></app-cabecera>
    </div>
    <div class="d-flex espacio-trabajo" id="wrapper">
        <div>
            <app-sidebar></app-sidebar>
        </div>
        <section id="page-content-wrapper">
            <div class="container espacio-principal">
                <div class="titulo">
                    <div>Registrar Tutor Académico</div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <form id="sec">
                            <div class="mb-2 casilla">
                                <label class="form-label">Nombre del curso</label>
                                <div class="casilla" type="button">
                                    <input [(ngModel)]="curso.nombre" name="nombre" type="text" class="form-control"
                                        aria-label="Text input with checkbox">
                                </div>
                            </div>
                            <div class="mb-2 casilla">
                                <label class="form-label">Nombre del tutor</label>
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="curso.idtutor" name="idtutor">
                                    <option selected>Seleccionar tutor</option>
                                    <option [value]="t.idtutor" *ngFor="let t of tutorlist">{{t.apellidos}}</option>
                                </select>
                            </div>
                            <div class="mb-2 casilla">
                                <label class="form-label">Meses</label>
                                <div class="casilla" type="button">
                                    <input [(ngModel)]="curso.meses" name="meses" type="text" class="form-control"
                                        aria-label="Text input with checkbox">
                                </div>
                            </div>
                            <div class="mb-2 casilla">
                                <label class="form-label">Fecha inicio</label>
                                <input type="date" [(ngModel)]="curso.fecha_inicio" class="form-control" name="fecha_inicio" id="EMP_FACEBOOK">
                                
                            </div>
                            <div class="mb-2 casilla">
                                <label class="form-label">Fecha fin</label>
                                <input type="date" [(ngModel)]="curso.fecha_fin" class="form-control" name="fecha_fin" id="EMP_FACEBOOK">
                            </div>
                        </form>
                    </div>
                    <div class="col-5">

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6">
                        <button class="btn btn-info boton" (click)="registrarCurso()">Enviar</button>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
</div>

